.header{
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
}
.header:hover{
  color: black;
}
.progress{
  height: 3px;
}