.film{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 20px;
  max-width: 1200px;
  margin: 10px 0;
  padding: 10px;
}