.header{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  position: relative;

  .badge{
    position: absolute;
    right: 20px;
    top: 15px
  }
}
.header:hover{
  color: black;
}
.progress{
  height: 3px;
}