.films {
  display: grid;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-content: center;


}
.message{
  font-size: 40px;
  color: #919191;
  margin-top: 40px;
}
@media (max-width: 1250px) {
  .films {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .films {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .films {
    grid-template-columns: 1fr;
  }
}